.d-flex iframe {
  width: 85vw;
  border-radius: 15px;
  height: 80vh;
}
.mapa-titulo {
  margin: auto;
}
.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: 10vh;
}
.footer a {
  color: transparent;
  background-color: transparent;
}
.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  margin-bottom: 5vh;
}
.navbar {
  height: min-content;
  width: 99vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
}
.index {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.align-self-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-right: 0px;
}
.equipment {
}
.inicio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#background {
  background: none;
}
.description {
  padding-right: 20px;
}
@media (min-width: 576px) .container, .container-sm {
  max-width: 540px;
}

#productos {
  background: none;
}
.clothes {
  padding-top: 60px;
}
.section {
  display: inline-block;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-right: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 150px;
}
h1 {
  margin: 1px;
  padding-left: 5px;
  color: white;
  background-color: black;
  width: fit-content;
}

h2 {
  margin: 2px;
  padding-left: 20px;
  color: white;
  background-color: black;
  width: fit-content;
}

h3 {
  margin: 1px;
  padding-left: 5px;
  color: white;
  background-color: black;
  width: fit-content;
}

.aboutus:nth-child(1) {
  background-color: #0d0d0d;
}

.aboutus:nth-child(2) {
  background-color: #1a1a1a;
}

.aboutus:nth-child(3) {
  background-color: #262626;
}

.aboutus:nth-child(4) {
  background-color: #333333;
}

.aboutus:nth-child(5) {
  background-color: #404040;
}

.aboutus:nth-child(6) {
  background-color: #4d4d4d;
}

.aboutus:nth-child(7) {
  background-color: #595959;
}

.aboutus:nth-child(8) {
  background-color: #666666;
}

.aboutus:nth-child(9) {
  background-color: #737373;
}

.aboutus:nth-child(10) {
  background-color: gray;
}

.aboutus_p {
  color: red;
}

.aboutus {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.aboutus p {
  font-size: 20px;
  color: white;
  background-color: black;
}
.aboutus img {
  width: 100%;
}

aboutus_h1 {
  background-color: mapa-get(
    (
      aboutus: #d16e8d,
      aboutus_h1: #ffac83,
      aboutus_p: #3f78c9,
      aboutus_img: #49c4a3,
    ),
    aboutus_h1
  );
}

aboutus_p {
  background-color: #3f78c9;
}

.aboutus {
  color: #d16e8d;
}

.aboutus_h1 {
  color: #ffac83;
}

.aboutus_p {
  color: #3f78c9;
}

.aboutus_img {
  color: #49c4a3;
}

.ejemplo-scss {
  padding-top: 20px;
  border: 1000 / 2;
}

.link-container ul li {
  font-size: 20px;
}

.link-container li {
  color: #000201;
}

.list-group ul {
  font-size: 25px;
  list-style: none;
}
.list-group ul li {
  font-size: 4px;
  display: inline-block;
}
.list-group ul li a {
  font-size: 40px;
  text-decoration: none;
  color: white;
}

.ejemplo-scss {
  border: 1px solid #eeb806;
  text-align: center;
  position: relative;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.navbar-brand {
  background: rgba(255, 255, 255, 0);
}

.nav-link {
  background-color: aliceblue;
}

.hidden {
  display: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button-buy {
  background-color: #1d193d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.button-buy:hover {
  opacity: 5;
}

.animate__animated {
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: 5s;
}

@media (max-width: 768px) and (max-width: 1024px) {
  .main-container {
    justify-content: center;
    align-items: left;
    margin-bottom: 43.75rem;
  }
  .main-container {
    height: 43.75rem;
  }
}

* {
  padding: 0;
  margin: 0;
}

.link-container {
  float: top;
}

img {
  width: 100%;
}

.clothes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redes-sociales {
  position: fixed;
  top: 35px;
  right: 30px;
  height: 50px;
  width: fit-content;
}

.inicio--header {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

html {
  font-size: 1.125rem;
}

.link-container ul {
  font-size: 13px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.link-container ul li {
  background-image: url("http://i.msdn.microsoft.com/dynimg/IC688534.png");
  background-repeat: no-repeat;
  background-position: center left;
  border-bottom: #080808 1px solid;
  padding-left: 20px;
  line-height: 30px;
}

.link-container ul li a {
  text-decoration: none;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(211, 121, 121, 0.15);
  border-radius: 5px 5px 5px;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: #000504;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table {
  background-color: white;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #000c0a;
}

.styled-table tbody tr {
  border-bottom: 2px solid #000706;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #000201;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #000a08;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

section {
  display: row-reverse;
  width: fit-content;
  padding: 10px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1 8px 32px 0 rgba(82, 83, 100, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

fieldset {
  color: red;
  background-color: blanchedalmond;
}

.th {
  color: white;
  background-color: black;
  width: fit-content;
}

table {
  border: 100px;
}

fieldset {
  color: white;
  background-color: black;
  width: 100%;
  margin: 1%;
}
.aboutus {
  margin-top: 50px;
}
body {
  font-family: "Encode Sans SC", sans-serif;
  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

title {
  color: brown;
  align-content: left;
  width: fit-content;
}

h1 {
  color: white;
  background-color: black;
  width: fit-content;
}

h2 {
  color: white;
  background-color: black;
  width: fit-content;
  margin: 2px;
  padding-left: 20px;
}

h3 {
  color: white;
  background-color: black;
  width: fit-content;
}

a {
  size: 200px;
  color: #140114;
  background-color: #45506d;
}

/* footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 300px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}

@media (max-width: 567em) {
  body {
    margin-bottom: 500px;
  }
  .footer {
    height: 500px;
  }
}

footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
}
.form-control {
  padding-right: 10em;
}
.color {
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: center;
}
